.bx-lg {
  font-size: 3rem;
}

.card {
  padding: 25px;
}

.card:hover {
  transform: scale(1.05); /* perbesar 5% */
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* lebih besar dan blur */
  border: 1.5px solid var(--accent-color);
}

.card:hover .card-body {
  transform: translateY(-5px);
}

.card:hover img {
  filter: brightness(1.2);
  transition: filter 0.3s ease;
}

.card:hover .card-title {
  color: var(--accent-color);
}

.card-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

.card-text {
  text-align: center;
}

.card .card-body {
  transition: transform 0.3s ease, color 0.3s ease;
}

h5 {
  font-weight: 650;
}

/* solutions */
.solution-list {
  font-size: 1.5rem;
  font-weight: 650;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 5px solid var(--accent-color);
}

.section-content {
  margin-bottom: 3rem;
}

.section-content ul {
  padding-left: 1.5rem;
  text-align: left;
}

.list-card {
  list-style: none;
}

.list-card i {
  font-size: 20px;
  margin-right: 8px;
  color: var(--accent-color);
}
/* end solutions */

/* services */
.service-list {
  font-size: 1.5rem;
  font-weight: 650;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 5px solid var(--accent-color);
}
/* end services */