/* Mobile */
@media (max-width: 450px) {
    /* html {
        font-size: 55%;
    } */

    /* about */
    #about img {
        width: 35rem;
    }
    /* end about */

    #contact-content {
        padding: 1rem;
    }

    .whatsapp img {
        height: 50px;
    }
}